spring:
  datasource:
    url: "jdbc:mysql://localhost/planner"
    username: "root"
    password: "test1234"
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true

logging:
  level:
    org.hibernate.SQL: debug