spring:
  datasource:
    url: "jdbc:mysql://localhost/library"
    username: "root"
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

logging:
  level:
    root: info