spring:
  datasource:
    url: jdbc:mysql://localhost:3306/planner?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: test1234
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true

logging:
  level:
    org.hibernate.SQL: debug